@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
  width: 100%;
}

h1 {
  font-family: 'Poppins', sans-serif;
  color: #172b4d;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

hr {
  height: 1px;
  background: #dfe1e6;
}

.desktop-nav {
  display: none;
}

p {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  color: #344563;
}

.sum {
  line-height: 1.4em;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

header {
  background-color: #fff;
}

.box1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
}

.flex-nav {
  padding: 0 24px;
}

ul {
  list-style: none;
}

.flex-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.flex-nav li {
  flex: 1;
}

.flex-nav .logo-img {
  flex: 0;
  display: flex;
  align-items: center;
}

.hidden-menu {
  background-color: #396df2;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100vh;
  opacity: 95%;
  display: none;
}

.close {
  display: flex;
  justify-content: end;
  padding: 20px 26px;
}

.menu-1,
.menu-2,
.menu-3 {
  padding: 16px;
}

.hidden-menu a {
  font-family: 'popping', sans-serif;
  font-weight: 500;
  font-size: 38px;
  color: #fff;
  line-height: 44px;
  text-decoration: none;
  margin-left: 18px;
}

.nav-links {
  color: #000;
  text-decoration: none;
}

.link-resume {
  text-decoration: none;
}

.nav-links:hover {
  text-decoration: underline;
}

.box2 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #fff;
  background-image: url(images/header-shapes-mobile.svg);
  background-size: 100%;
  padding: 80px 24px;
  background-repeat: no-repeat;
  border-bottom-left-radius: 65px;
}

.logo {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #2233ca;
}

.h1 {
  font-size: 40px;
}

.connect {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #3d437a;
}

.icon {
  margin-right: 12px;
}

.social {
  display: flex;
  align-items: center;
  margin-top: 2px;
  list-style: none;
}

/* works section */
.container {
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
  padding: 0 24px;
  position: relative;
}

.grid-container {
  display: grid;
  grid-auto-rows: minmax(552px, auto);
}

.target-mobile {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  display: none;
}

.popup-card {
  background-color: rgb(255, 255, 255, 0.6);
  width: 100vw;
  height: 100vh;
  padding: 10px 20px;
}

.card-popup {
  background-color: #fff;
  height: 100%;
  border-radius: 16px;
  padding: 18px 16px;
}

.popup-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.popup-header img {
  height: 16px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 15px;
}

.popup-body img {
  width: 100%;
  margin: 18px 0;
}

.popup-body hr {
  margin-top: 12px;
  opacity: 30%;
}

.popup-button {
  display: flex;
  gap: 14px;
}

.popup-button a {
  text-decoration: none;
}

.small-btn-div a {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #39439b;
}

button {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  margin-top: 24px;
  margin-bottom: 10px;
  padding: 12px;
  border: 1px solid #4853af;
  border-radius: 8px;
  background-color: #fff;
}

.popup-button button {
  width: 146px;
  height: 48px;
  display: flex;
}

a .icon2 {
  margin-left: 15px;
  text-decoration: none;
}

.popup-button .icon2 {
  background-image: url(images/Icon-2.png);
  background-repeat: no-repeat;
  background-position: right;
  background-position: 113px;
}

.popup-button .icon3 {
  background-image: url(images/Group.png);
  background-repeat: no-repeat;
  background-position: right;
  background-position: 118px;
}

.grid-item {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.grid-item-1,
.grid-item-2,
.grid-item-3,
.grid-item-4 {
  display: flex;
  background-color: #fff;
  margin-top: 114px;
  border-radius: 16px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.text-box {
  margin-top: 12px;
}

.canopy {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-top: 15px;
}

.back li {
  display: inline;
  margin-right: 12px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #4b5363;
}

.dot {
  margin-right: 12px;
}

h4 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  color: #344563;
}

.text-box p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-top: 15px;
}

.small-btn-div {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.small-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  margin-right: 8px;
}

.small-btn-dis {
  display: none !important;
}

button:focus {
  background-color: #2230d2;
  color: #fff;
}

button:hover {
  background-color: #39439b;
  color: #fff;
}

button:disabled {
  background-color: #e5e5e5;
  color: #5e6c84;
}

.desktop-image {
  display: none !important;
}

/* footer */
section {
  background-color: #fff;
  border-top-right-radius: 60px;
  padding: 24px;
}

.mobile {
  display: flex !important;
}

.desktop {
  display: none !important;
}

.footer-text {
  margin-top: 100px;
}

.footer-text p,
.footer-text .social,
.con {
  margin-top: 12px;
}

.lang-title {
  display: flex;
  flex-direction: row;
}

.footer-lang a {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #000;
}

.lang-title img {
  margin-left: 26px;
}

.lang {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.tailwind {
  width: 40px;
  margin-left: 0;
}

.button-one {
  text-decoration: none;
  color: #396df2;
}

.javascript img,
.html img,
.css img {
  display: flex;
  margin-right: 16px;
}

.javascript,
.html,
.css {
  display: flex;
  align-items: center;
  background-color: #f7f7f9;
  padding: 9px 12px;
  border-radius: 8px;
}

.lang a {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
}

.popup-button:hover a {
  color: #fff;
}

.frame {
  display: flex;
  flex-direction: column;
}

.framework,
.skills {
  display: flex;
  flex-direction: row;
  margin-top: 36px;
  margin-bottom: 23px;
  padding: 0 20px;
}

.frame img {
  margin-left: auto;
}

/* contact */
footer {
  background-color: #fff;
}

.contact {
  background-image: url('images/contact.png');
  background-position: right;
  background-position-y: 40px;
  background-size: 260px;
  background-repeat: no-repeat;
  background-color: #39439b;
  border-top-left-radius: 65px;
}

.text-contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 24px;
}

.text-contact h2 {
  color: #fff;
  margin-top: 103px;
}

.text-contact p {
  margin-top: 12px;
  color: #ebebff;
}

/* form */
input,
select {
  width: 100%;
  padding: 12px 20px;
  font-family: 'Poppins', sans-serif;
  color: #172b4d;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

.form-div {
  margin-top: 28px;
}

.form-div button {
  display: flex;
  margin-top: 10px;
  margin-bottom: 15px;
}

textarea {
  width: 100%;
  border-radius: 8px;
  margin: 8px 0;
  padding: 15px 38px 15px 16px;
  font-family: 'Poppins', sans-serif;
}

.labels {
  display: none !important;
}

#error {
  color: #f32013;
  font-family: 'Poppins', sans-serif;
}

@media screen and (min-width: 768px) {
  body {
    width: 100%;
  }

  .box1 {
    display: none !important;
  }

  .desktop-nav {
    display: flex;
    align-items: center;
    height: 48px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    margin-top: 6px;
    text-align: center;
    justify-content: space-between;
  }

  .desktop-nav li {
    padding: 10px;
  }

  h1 {
    font-size: 48px;
  }

  p {
    font-size: 20px;
    margin-top: 12px;
  }

  .bottom-round {
    padding: 40px 8px 60px 34.6px;
    background-color: #fff;
    border-bottom-left-radius: 65px;
  }

  .box2 {
    background-image: url('images/Header-Icon.png');
    display: flex;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 721.46px;
    padding: 200px;
  }

  .connect {
    margin-top: 12px;
    font-size: 16px;
  }

  .social {
    margin-top: 14px;
  }

  /** works section **/
  .footerp {
    width: 569px;
  }

  .target-mobile {
    position: fixed;
    top: 0;
    left: 0;
  }

  .popup-card {
    display: flex;
    width: 100%;
    padding: 12px 0;
    background-color: rgb(255, 255, 255, 0.8);
  }

  .card-popup {
    background-color: #fff;
    border-radius: 16px;
    padding: 18px 16px;
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .popup-body img {
    height: 370px;
    margin: 18px 0;
  }

  .popup-body-desktop {
    display: flex;
    flex-direction: row;
  }

  .p-div-desktop {
    width: 65%;
    padding: 0 34px 0 0;
  }

  .side {
    padding: 0 14px;
  }

  .desktop-image {
    display: flex !important;
    height: 448px;
  }

  .text-box {
    margin-left: 24px;
  }

  .mobile-image {
    display: none;
  }

  .grid-container {
    display: grid;
  }

  #reverse-one,
  #reverse-two {
    display: flex;
    flex-direction: row-reverse;
  }

  .labels {
    display: none !important;
  }

  footer button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 142px;
  }

  .text-box p,
  .text-box button {
    margin-top: 32px;
  }

  .small-btn-div {
    margin-top: 14px;
  }

  .small-btn-dis {
    display: flex !important;
  }

  .container {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
  }

  .grid-item-2 {
    display: flex;
  }

  .grid-item {
    display: grid;
    grid-template-columns: auto auto;
    gap: 12px;
    justify-content: center;
    max-width: 1209px;
  }

  .grid-item-center {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .card-box {
    height: 448px;
  }

  .img {
    display: flex;
  }

  .bottom-white {
    display: flex;
    flex-direction: row;
    margin-left: 142px;
    gap: 37px;
  }

  .footer-text {
    width: 447px;
  }

  .lang {
    display: flex;
    flex-direction: row;
  }

  .javascript,
  .html,
  .css {
    margin-right: 12px;
    display: flex;
    width: 122px;
    height: 120px;
    flex-direction: column;
    margin-left: auto;
  }

  .lang img {
    display: flex;
    margin-bottom: 16px;
  }

  .lang li {
    margin-right: auto;
  }

  .framework,
  .skills,
  .lang-title {
    display: flex;
    justify-content: space-between;
  }

  .footer-lang {
    margin-top: 114px;
  }

  .about {
    margin-top: 114px;
    padding-bottom: 114px;
    display: flex;
    justify-content: center;
  }

  /** contact form **/

  .contact {
    background-image: url('images/contact-background-shapes.png');
    background-position: right top;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #39439b;
    height: 746px;
    border-top-left-radius: 65px;
    display: flex;
    justify-content: center;
  }

  footer {
    background-color: #fff;
  }

  .form-div {
    display: flex;
    justify-content: center;
  }

  .form-div li {
    width: 447px;
  }

  .desktop {
    display: flex !important;
  }

  .mobile {
    display: none !important;
  }
}

.about {
  margin-top: 114px;
}
